body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  padding-top: 250px;
  padding-bottom: 250px;
}

.click-counter {
  font-size: 24px;
  margin-bottom: 20px;
  color: rgb(139, 215, 203);
}

#clickButton {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  color: blueviolet;
}

